.dateForm {
  width: 200px !important;
}

.dateForm > * {
  margin-bottom: 15px;
}

.totalsWrapper {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 30px;
  grid-auto-flow: column;
}
