.date-form > input {
	margin-right: 10px;
	height: 35px;
}

.date-form > button {
	margin-top: -4px;
}

.totals-wrapper {
	display: grid;
	justify-content: center;
	align-content: center;

	gap: 30px;
	grid-auto-flow: column;
}

.info-card {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.6);
}

.info-card > label {
	font-size: 18px;
	line-height: 40px;
	height: 40px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #dddddd;
	background-color: #343a40;
}

.info-card > span {
	font-size: 30px;
	line-height: 135px;
}
