.dropzone-container {
	width: 300px;
	height: 300px;
}

.dropzone-container:hover {
	cursor: pointer;
}

.dropzone-container:focus {
	outline: none;
}

.dropzone-content {
	width: inherit;
	height: inherit;
	border: 2px #6c757d dashed;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.dropzone-content > span {
	color: #4f555a;
	font-size: 15px;
}

.dropzone-content > svg {
	color: #6c757d;
	margin: 100px auto 15px auto;
	font-size: 40px;
}
