.vendor-button {
  margin: 0 5px 10px 5px;
}

.button-parent {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

tr > td {
  text-align: center;
  min-width: 40px;
}

td > input[type="checkbox"] {
  margin: 0;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
}
