.wrapper {
  width: 95%;
  margin: auto;
}

.wrapper input,
.wrapper select {
  border-radius: 19px;
}

.children {
  display: flex;
}

.children button,
.children button:active,
.children button:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 19px;
  outline: none;
  padding: 0.375rem 0.75rem;
  margin-right: 10px;
}

.children button:hover {
  border: 1px solid #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.filter {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.filter span {
  font-size: 14px;
  color: #65676b;
}

.status {
  width: 115px;
}

.warranty {
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.product {
}
