.linkWrapper {
  margin-bottom: 8px;
  height: 27px;
  position: relative;
}

.linkWrapper a {
  margin-right: 10px;
  margin-left: 5px;
  padding: 5px 7px;
  border-radius: 5px;
  color: #fff;
  background-color: #868f97;
}

.linkWrapper button,
.linkWrapper button:focus {
  border: 0;
  padding: 0;
  outline: none;
  color: #6c757d;
  background-color: transparent;
  position: absolute;
}

.linkWrapper button:hover {
  color: #939ba1;
}
