.title {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.infoBox {
  margin-bottom: 5px;
}

.infoBox > span {
  font-size: 14px;
  color: #65676b;
}

.infoBox > div {
  margin-left: 5px;
}

.yes {
  width: fit-content;
  padding: 5px 7px;
  border-radius: 5px;
  background-color: rgb(198, 255, 184);
}

.no {
  width: fit-content;
  padding: 5px 7px;
  border-radius: 5px;
  background-color: rgb(255, 183, 183);
}

.serialNumber {
  width: fit-content;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
  margin-bottom: 4px;
  background-color: #bad6ec;
}
