.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ced4da;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #007bff;
  color: white;
}
