.spinner {
  display: block;
  width: 100px;
  height: 100px;
}

.jumbotron {
  display: block;
  background-color: #e9ecef;
  padding-top: 20px;
  width: 100%;
  height: 100px;
  font-size: 40px;
}

.select {
  width: 180px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.6);
}

.card > label {
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #dddddd;
  background-color: #343a40;
}

.card > span {
  font-size: 30px;
  line-height: 135px;
}

.card > p {
  font-size: 16px;
  color: #616a72;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
}

.header {
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 10px !important;
}

/* FOR TIMES BUTTON */

.multiselect-option {
  margin-bottom: 8px;
  height: 27px;
  position: relative;
}
.multiselect-option span{
  margin-right: 10px;
  color: #495057;
}

.multiselect-option button,
.multiselect-option button:focus {
  border: 0;
  padding: 0;
  outline: none;
  color: #6c757d;
  background-color: transparent;
  position: absolute;
}

.multiselect-option button:hover {
  color: #939ba1;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ced4da;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #007bff;
  color: white;
}