.items-menu-container {
  display: flex;
  justify-content: left;
}

.items-menu {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.items-menu > * {
  margin-bottom: 10px;
}

.item {
  width: 200px;
  padding: 5px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.item:hover {
  cursor: pointer;
  border-color: #9cc8f7;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.item-selected {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.items-form {
  width: 450px;
}
