.note {
  margin-right: auto;
  display: flex;
  text-align: start;
}

.note svg {
  margin-top: 6px;
  font-size: 22px;
}

.note-content {
  margin-left: 10px;
}

.note-content > div {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 8px 5px 8px;
  background-color: #e9ecef;
}

.note-content > span {
  font-size: 14px;
  color: #65676b;
}
