.app {
	width: 100%;
	min-height: 100vh;
	text-align: center;
}

.logo {
	height: 40px;
	width: 40px;
}

.link,
.link:hover {
	text-decoration: none;
	color: black;
}

.link:hover {
	color: #999999;
}

.wrapper {
	margin-top: 20px;
	width: 70%;
	display: inline-block;
}

.container {
	width: 100%;
}

.container > * {
	margin: 0 auto 20px auto;
}
