.app {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.logo {
  height: 40px;
  width: 40px;
}

.dropdown-menu,
.dropdown-item:hover {
  background-color: #343a40 !important;
}

.nav-link {
  padding: 0;
}

.wrapper {
  margin-top: 20px;
  width: 70%;
  display: inline-block;
}

.container {
  width: 100%;
}

.container > * {
  margin: 0 auto 15px auto;
}

.modal-header,
.modal-header > *,
.modal-header > * > * {
  color: white;
  background-color: #343a40;
}

.centered-parent {
  display: flex;
  justify-content: space-between;
}
